# VENV #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# DJANGO #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# VSCODE #
.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# environment #
.env
