[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true #garante a segurança dos pacotes instalados

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
